<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FileLogPath" value="./Logs/Logs.log"/>
    <add key="Error" value="ErrorLog.log"/>
    <add key="CriticalError" value="CriticalError.log"/>
    <add key="FatalError" value="FatalError.log"/>
  </appSettings>
  <connectionStrings>
    <add name="ServicesSqlConnection" connectionString="Data Source=DESKTOP-FBQ08D4\SQLEXPRESS;Initial Catalog=Logs;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>